// Colores de fuente
$font-white: color #fff;
$font-ivory: color rgb(213, 213, 221);

// Backgrounds
    // Colores
$bg-color-grey: background-color rgb(78, 78, 78);
$bg-color-lgbl: background-color #4976ba;




