@import "colores";
@import "fuentes";
@import "mixins";


html {
	margin: 0;
	padding: 0;

	/*Fuente para que se aplique en todo el sitio por default */
	body {
		font-family: $font-type;
		font-weight: $font-w-body;
		color: $font-white;

		/* --------- HEADER HOME ------------ */
		header{
			.bi {
				vertical-align: -.125em;
			  }
			
			/* Main background */
			.fondoInicio {
				background-image: url(../images/axaworkfondo.jpg);
				background-size: cover;
				background-position: center;
				height: 100vh;
				width: 100vw;

				/*Estilos para frase de presentación */
				.fraseMotivacional{
					float: right;
					margin: 3%;
					right: 20%;
					top: 30%;
					font-size: 3rem;
					font-weight: 500;
					color: rgb(213, 213, 221);
					text-shadow: -1px -1px 1px #aaa,
								0px 4px 1px rgba(0,0,0,0.5),
								4px 4px 5px rgba(0,0,0,0.7),
								0px 0px 7px rgba(0,0,0,0.4);
				}

				.fadeInPhrase {
					-webkit-animation: fade-in 4.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
							animation: fade-in 4.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
				}
			}
		}
	}
}